#taskListDiv{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 60px;
}

.task{
    width: 100%;
    margin: auto;
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: large;
    margin: 3px;
    border-radius: 3px;
    background-color: rgb(172, 255, 255);
}

.buttonStyle{
    border-radius: 5px;
    font-size: larger;
    font-family: arial;
}

#taskText{
    font-family: arial; 
    height: 100%;
}

#firstRow{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#taskListUl{
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    align-items: center;
}

#taskDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-self: center;
    width: 100%;
}


